.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom left, #8bf58e, #6be66f); /* Gradient from light green to darker green */
  }
  
  .centered-rectangle {
    width: 70%;
    height: 700px;
    background-color: #dcedc8;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  }
  
  
  .signup-image {
    max-height: 100%;
  }
  .signup{
    margin-left:280px;
  }
  .space{
    height: 50px;
  }
  .caption {
    margin-left: 120px;
  }